<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.mapping.stockOrderMapper">
	<resultMap id="stockOrderMapper" type="StockOrder">
		<id property="stoId" column="STO_ID" />
		<result property="stoNum" column="STONUM" />
		<association property="goods" javaType="com.etc.entity.Goods">
			<id property="goodsId" column="GOODSID"/>
			<result property="goodsName" column="GOODSNAME"/>
			<result property="brand" column="BRAND"/>
			<result property="productModel" column="PRODUCTMODEL"/>
			<result property="costPrice" column="COSTPRICE"/>
			<result property="retailPrice" column="RETAILPRICE"/>
			<result property="goodsCode" column="GOODSCODE"/>
			<result property="barCode" column="BARCODE"/>
			<association property="goodsType" javaType="com.etc.entity.GoodsType">
				<id property="goodsTypeId" column="GOODSTYPEID"/>
				<result property="goodsType" column="GOODSTYPE"/>
			</association>
			<association property="supplier" javaType="com.etc.entity.Supplier">
				<id property="supplierId" column="SUPPLIERID"/>
				<result property="supplierName" column="SUPPLIERNAME"/>
				<result property="supplierType" column="SUPPLIERTYPE"/>
				<result property="contacts" column="CONTACTS"/>
				<result property="contactTel" column="CONTACTTEL"/>
				<result property="supplierAddress" column="SUPPLIERADDRESS"/>
				<result property="supplierFax" column="SUPPLIERFAX"/>
				<result property="supplierInfo" column="SUPPLIERINFO"/>
				<result property="supplierAssess" column="SUPPLIERASSESS"/>
			</association>
		</association>
		<association property="emp" javaType="com.etc.entity.Employees">
			<id property="empNo" column="EMPNO" />
			<result property="empName" column="EMPNAME" />
			<result property="salary" column="SALARY" />
			<result property="job" column="JOB" />
			
			<association property="dept" javaType="com.etc.entity.Department">
				<id property="deptNo" column="MOVIETYPEID" />
				<result property="deptName" column="MOVIETYPE" />
				<result property="deptHeader" column="MOVIETYPE" />
				<association property="company" javaType="com.etc.entity.Company">
					<id property="companyId" column="COMPANYID" />
					<result property="companyName" column="COMPANYNAME" />
					<result property="companyTel" column="COMPANYTEL" />
					<result property="companyFax" column="COMPANYFAX" />
					<result property="companyAddress" column="COMPANYADDRESS" />
					<result property="companyLegalPerson" column="COMPANYLEGALPERSON" />
					<result property="companyAccount" column="COMPANYACCOUNT" />
					<result property="companyEmail" column="COMPANYEMAIL" />
					<result property="companyUrl" column="COMPANYURL" />
				</association>
			</association>
		</association>
	</resultMap>
	<!--根据id查询对应的采购订单  -->
	<select id="getStockorder" resultMap="stockOrderMapper" parameterType="int">
	SELECT
	S.STO_ID,S.GOODSNO,S.EMPNO,S.STONUM,E.EMPNO,E.EMPNAME,E.SALARY,E.JOB,E.DEPTNO,
	G.GOODSID,G.GOODSTYPEID,G.GOODSNAME,G.BRAND,G.PRODUCTMODEL,G.COSTPRICE,G.RETAILPRICE,G.GOODSCODE,G.BARCODE,G.SUPPLIERID
	FROM TBL_STOCKORDER S, TBL_EMPLOYEES E, TBL_GOODS G WHERE
	S.GOODSNO=G.GOODSID AND S.EMPNO=E.EMPNO AND STO_ID=#{ID}
	</select>
	<!-- 查询Stockorder表中所有信息 -->
	<select id="getStockorderAll" resultMap="stockOrderMapper">
		SELECT S.STO_ID,S.GOODSNO,S.EMPNO,S.STONUM,E.EMPNO,E.EMPNAME,E.SALARY,E.JOB,E.DEPTNO,G.GOODSID,G.GOODSTYPEID,G.GOODSNAME,G.BRAND,G.PRODUCTMODEL,G.COSTPRICE,G.RETAILPRICE,G.GOODSCODE,G.BARCODE,G.SUPPLIERID FROM TBL_STOCKORDER S, TBL_EMPLOYEES E, TBL_GOODS G WHERE S.GOODSNO=G.GOODSID AND S.EMPNO=E.EMPNO ORDER BY S.STO_ID
	</select>
	<!-- 向Stockorder表中插入新的数据 -->
	<insert id="addStockorder" parameterType="StockOrder">
		INSERT INTO TBL_StockOrder VALUES(TBL_StockOrder_seq.NEXTVAL,#{goods.goodsId},#{emp.empNo},#{stoNum})
	</insert >
	
	<!-- 删除delStockorder -->
	<delete id="delStockorder" parameterType="StockOrder">
		DELETE FROM TBL_STOCKORDER S WHERE S.STO_ID=#{stoId} 
	</delete>
	<!-- 更新updateStockorder -->
	<update id="updateStockorder" parameterType="StockOrder">
		UPDATE TBL_STOCKORDER S SET S.STONUM=#{stoNum} WHERE S.STO_ID=#{stoId}
	</update>
</mapper>