@charset "utf-8";
/* CSS Document */
.Huifold{width:260px;}
#col1{background:#eaeaea; width:260px}
#col2{background:#eaeaea; width:260px}
#col3{background:#eaeaea; width:260px}
#col4{background:#eaeaea; width:260px}
#col5{background:#eaeaea; width:260px}
#col6{background:#eaeaea; width:260px}
.fl{float:left}
